/* Dark Theme Applied to Everything */
body {
    background-color: #181818;
    color: #ccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #242424;
    color: #ccc;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
}

td {
    background-color: #242424;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #444;
}

/* Form Inputs, Selects, and Textareas */
input, select, textarea {
    background-color: #333;
    color: #ccc;
    border: 1px solid #444;
}

input:focus, select:focus, textarea:focus {
    border-color: #4CAF50;
}

/* Links */
a {
    color: #4CAF50;
}

a:hover {
    color: #81c784;
}

button:disabled {
    color: white;
    cursor: not-allowed;
    opacity: 0.4;
}

#results {
    display: none;
}

th:nth-child(2), td:nth-child(2) {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.lowest-value {
    background-color: green;
    color: white;
    font-weight: bold;
}

.highest-value {
    background-color: red;
    color: white;
    font-weight: bold;
}

#columnStats {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: fit-content;
}

#columnStats h3 {
    margin-bottom: 10px;
    text-align: center;
}

#columnStats table {
    width: 100%;
    border-collapse: collapse;
}

#columnStats th, #columnStats td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    position: relative;
    padding-right: 20px;
}

.sort-arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
}

.sort-arrow.desc {
    border-top: none;
    border-bottom: 8px solid white;
}

.sort-arrow.asc {
    border-top: 8px solid white;
}